[submodule "OCA/account-analytic"]
	path = OCA/account-analytic
	url = git@github.com:OCA/account-analytic.git
	branch = 13.0

[submodule "Trust-Code/odoo-brasil"]
	path = Trust-Code/odoo-brasil
	url = git@github.com:Trust-Code/odoo-brasil.git
	branch = 13.0
